<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--基于配置文件的方式-->
    <beans>
        <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
        <bean id="newsProvider" class="com.snail.news.FXNewsProvider"/>
        <bean id="djNewsListener" class="com.snail.news.DowJonesNewsListener"/>
        <bean id="djNewsPersister" class="com.snail.news.DowJonesNewsPersister"/>
    </beans>

</beans>