<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="djNewsListener" class="com.geek.design.news.DowJonesNewsListener"/>
    <bean id="djNewsPersister" class="com.geek.design.news.DowJonesNewsPersister"/>
    <bean id="djNewsProvider" class="com.geek.design.news.FXNewsProvider">
        <constructor-arg ref="djNewsListener"/>
        <constructor-arg ref="djNewsPersister"/>
    </bean>
</beans>